<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.service.rwtpos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RwtPos"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity
            android:name=".BillDetailsAcitvity"
            android:theme="@style/SplashTheme.RwtPos" />
        <activity
            android:name=".BillListActivity"
            android:theme="@style/SplashTheme.RwtPos" />
        <activity
            android:name=".ChallanListActivity"
            android:theme="@style/SplashTheme.RwtPos" />
        <activity
            android:name=".DemandListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme.RwtPos" />
        <activity
            android:name=".CreateDemandActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme.RwtPos" />
        <activity
            android:name=".OutletSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme.RwtPos" />
        <activity
            android:name=".ScanBarcodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme.RwtPos" />
        <activity
            android:name=".CreateBillActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme.RwtPos" />
        <activity
            android:name=".OrderListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme.RwtPos" />
        <activity
            android:name=".DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme.RwtPos" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme.RwtPos" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme.RwtPos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>